* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  overflow-x: auto;
}
/* Header CSS Start */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  z-index: 10;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
.myntra_home {
  width: 53px;
}
.logo_container {
  margin-left: 4%;
  box-sizing: content-box;
}

.nav_bar {
  width: 515px;
  display: flex;
  justify-content: space-around;
}
.nav_bar a {
  margin-left: 14px;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid #ffffff;
  padding: 27px 0;
}
.nav_bar a:hover {
  border-bottom: 3px solid #ff3f6c;
  padding: 27px 0;
}
.nav_bar a sup {
  color: #ff3f6c;
  top: -0.4rem;
  font-weight: 600;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  text-transform: uppercase;
  text-align: left;
}

.search_bar {
  min-width: 200px;
  width: 27%;
  height: 39px;
  display: flex;
  align-items: center;
  margin: 20px -10px 20px 80px;
  overflow: hidden;
}
.icon_container {
  box-sizing: content-box;
  height: 28px;
  width: 40px;
  text-align: center;
  padding: 8px 0 2px;
  background: #f5f5f6;
  border: 1px solid #f5f5f6;
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.search_icon {
  color: #282c3f;
  height: 20px;
  overflow: hidden;
}
.search_input {
  flex-grow: 1;
  font-size: 14px;
  height: 22px;
  line-height: 24px;
  color: #696e79;
  box-sizing: content-box;
  padding: 8px 10px 10px;
  margin-left: -0.1px;
  border-radius: 0 4px 4px 0;
  border: 0;
  background: #f5f5f6;
}

.action_bar {
  display: flex;
  min-width: 194px;
  justify-content: space-evenly;
  margin-left: 10px;
}
.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.action-icon {
  overflow: hidden;
}
.action_name {
  color: #000;
  font-size: 12px;
  font-weight: 700;
}
/* Main CSS */
.shop_base {
  margin-top: 80px;
  padding-top: 20px;
}
.Bcontainer {
  height: 301px;
  padding-left: 100px;
  padding-right: 100px;
}
.banner_container {
  height: 100%;
  width: 100%;
}
.banner {
  display: flex;
  height: 100%;
  width: 100%;
}
.banner_img {
  height: 100%;
  width: 100%;
}

.Acontainer {
  height: 17px;
  padding-left: 100px;
  padding-right: 100px;
}
.ads_container {
  display: flex;
  height: 100%;
  width: 100%;
}
.ad {
  display: flex;
  height: 100%;
  width: 100%;
}
.ad_img {
  height: 100%;
  width: 100%;
}

.get_off {
  height: 120px;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.OFF {
  display: flex;
  height: 100%;
  width: 100%;
}
.off_img {
  height: 100%;
  width: 100%;
}
.Category {
  height: 188px;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.catogory_items {
  display: flex;
  height: 100%;
  width: 100%;
}
.item_img {
  width: 100%;
}

.OMGDeals_container {
  height: 95px;
  padding-left: 100px;
  padding-right: 100px;
}
.OMGdeals {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.OMGdeals_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.brands_container {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 377px;
  padding-left: 100px;
  padding-right: 100px;
}
.brands {
  display: flex;
  height: 100%;
  width: 100%;
}
.brand_img {
  height: 100%;
  width: 100%;
}

.sbcImg_container {
  height: 95px;
  padding-left: 100px;
  padding-right: 100px;
}
.sbc {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.sbc_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Off_category_container {
  height: 250px;
  padding-left: 100px;
  padding-right: 100px;
}
.Off_category_items {
  display: flex;
  height: 100%;
  width: 100%;
}
.off_item_img {
  height: 100%;
  width: 100%;
}
.Off_category_items_div6 {
  position: relative;
  left: 230px;
}
.off_item_img_div6 {
  width: 230px;
}

.app_img_container {
  height: 210px;
  padding-left: 100px;
  padding-right: 100px;
}
.app_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.mAPP {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.application_base {
  margin-top: 50px;
}
/* footer CSS */
footer {
  display: flex;
  justify-content: center;
  padding: 30px 0px 40px 0px;
  background-color: #fafbfc;
}
.footer_container {
  max-width: 1080px;
}
.generic_info {
  overflow: hidden;
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}
.shop_links {
  width: 155px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  box-sizing: content-box;
}
.customer_policies {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.app_experience {
  width: 360px;
  height: 162px;
  padding-right: 20px;
  padding-top: 13px;
  box-sizing: content-box;
  overflow: hidden;
  margin-top: -3px;
}
.promises {
  width: 250px;
  height: 159px;
}
.ginfo_title {
  font-weight: 700;
  font-size: 12px;
  margin: 12px 0px;
  overflow: hidden;
}
.ginfo_title_link {
  text-decoration: none;
  color: #282c3f;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.ginfo_link {
  color: #696b79;
  display: block;
  text-decoration: none;
  padding-bottom: 5px;
  cursor: pointer;
  line-height: normal;
}
.download_img_container {
  padding-top: 25px;
}
.android_download {
  margin-right: 10px;
  height: 42px;
}
.ios_download {
  margin-right: 10px;
  height: 42px;
}
.keep_in_touch {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 700;
  margin-top: 20px;
}
.socialmedia_img_container {
  overflow: hidden;
}
.socialmedia_icon {
  height: 21px;
  margin-right: 15px;
}
.socialmedia_img {
  height: 20px;
}
.main_promises {
  overflow: hidden;
  height: 160px;
  width: 350px;
}
.promises_section {
  display: flex;
  height: 42px;
  width: 100%;
  margin: 15px 0 30px;
  color: #696b79;
  overflow: hidden;
}
.promises_container {
  padding-right: 10px;
  height: 42px;
  width: 70%;
  overflow: hidden;
}
.promises_img_container {
  margin-right: 10px;
  width: 47.5px;
  height: 40px;
  overflow: hidden;
}
.promises_img {
  width: 48px;
  overflow: hidden;
}
.promises_highlite {
  color: #282c3f;
  font-weight: 700;
}
.popular_search {
  overflow: hidden;
  height: 131px;
  width: 100%;
}
.popular_search hr {
  border: 1px;
  height: 1px;
  background-color: #eaeaec;
}
.psearch_title {
  position: absolute;
  margin-top: -10px;
  background: #fafbfc;
  padding-right: 10px;
  color: #282c3f;
  font-size: 12px;
  font-weight: 700;
}
.psearch_links {
  margin-top: 30px;
  overflow: hidden;
}
.psearch_link {
  width: 30px;
  text-decoration: none;
  color: #696b79;
  font-size: 15px;
  line-height: 25px;
}
.psearch_link::after {
  color: #696b79;
  content: "|";
  margin-left: 3px;
}
.finfo_section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 21px;
  width: 100%;
}
.contact {
  color: #696b79;
  height: 21px;
}
.copy_write {
  color: #696b79;
  height: 21px;
}

.flipkart_company {
  color: #696b79;
  height: 21px;
}
address {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #eaeaec;
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.address_title {
  height: 20px;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  color: #282c3f;
  margin: 15px 0px;
}
.address_des {
  width: 70%;
  color: #94969f;
  line-height: 20px;
}
.legal_info {
  height: 40px;
  color: #94969f;
  width: 30%;
  float: right;
  position: relative;
  top: -40px;
}

.knowledged_container {
  width: 100%;
  line-height: 18px;
  color: #94969f;
  font-size: 14px;
  border-top: 1px solid #eaeaec;
  margin: 15px 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.knowledged_container h1,
h3 {
  float: left;
  margin-bottom: -10px;
  margin-top: 30px;
  font-size: 14px;
  color: #535766;
  font-weight: 700;
}
.knowledged_container p {
  margin: 14px 0px 0px 0px;
}
.seolinks {
  text-decoration: none;
  color: #696b79;
}
.list_heading {
  color: #535766;
  font-weight: 700;
}
.unordered_list {
  padding-left: 40px;
  list-style: none;
  box-sizing: content-box;
}
.unordered_list li {
  margin: 14px 0px 14px 0px;
  list-style-type: decimal;
  list-style-position: inside;
}
