* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
header {
  overflow: hidden;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
.logo_container {
  overflow: hidden;
}
.myntra_home {
  width: 60px;
  margin-left: 8%;
}
.navbar_container {
  overflow: hidden;
  min-width: 515px;
  display: flex;
  justify-content: space-around;
  margin: -20px;
}

.navbar_container a {
  overflow: hidden;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px 0;
  border-bottom: 3px solid #ffffff;
}
.navbar_container a:hover {
  overflow: hidden;
  border-bottom: 3px solid red;
}
.studio {
  overflow: hidden;
  position: relative;
  bottom: 2.8px;
}
.navbar_container a sup {
  color: #ff3f6c;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  bottom: 5px;
  overflow: hidden;
}
.search_bar_container {
  height: 40px;
  min-width: 100px;
  width: 30%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.search_icon {
  height: 20px;
  padding: 10px 0px 9px 10px;
  box-sizing: content-box;
  color: #282c3f;
  background: #f5f5f6;
  border: 1px solid #f5f5f6;
  border-radius: 4px 0 0 4px;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.search_input {
  font-size: 14px;
  height: 20px;
  color: #696e79;
  box-sizing: content-box;
  padding: 10px 10px 10px 15px;
  margin: 0;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  background: #f5f5f6;
  flex-grow: 1;
  overflow: hidden;
}

.action_bar_container {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  overflow: hidden;
}
.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.action_name {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
}
#profile {
  border-bottom: 3px solid #ffffff;
  overflow: hidden;
}
#profile:hover {
  border-bottom: 3px solid red;
  overflow: hidden;
}

/* This is main tag CSS */
.shop_base {
  margin-top: 80px;
  padding-top: 20px;
}
.Bcontainer {
  height: 301px;
  padding-left: 100px;
  padding-right: 100px;
}
.banner_container {
  height: 100%;
  width: 100%;
}
.banner {
  display: flex;
  height: 100%;
  width: 100%;
}
.banner_img {
  height: 100%;
  width: 100%;
}

.Acontainer {
  height: 17px;
  padding-left: 100px;
  padding-right: 100px;
}
.ads_container {
  display: flex;
  height: 100%;
  width: 100%;
}
.ad {
  display: flex;
  height: 100%;
  width: 100%;
}
.ad_img {
  height: 100%;
  width: 100%;
}

.get_off {
  height: 120px;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.OFF {
  display: flex;
  height: 100%;
  width: 100%;
}
.off_img {
  height: 100%;
  width: 100%;
}
.Category {
  height: 188px;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.catogory_items {
  display: flex;
  height: 100%;
  width: 100%;
}
.item_img {
  width: 100%;
}

.OMGDeals_container {
  height: 95px;
  padding-left: 100px;
  padding-right: 100px;
}
.OMGdeals {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.OMGdeals_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.brands_container {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 377px;
  padding-left: 100px;
  padding-right: 100px;
}
.brands {
  display: flex;
  height: 100%;
  width: 100%;
}
.brand_img {
  height: 100%;
  width: 100%;
}

.sbcImg_container {
  height: 95px;
  padding-left: 100px;
  padding-right: 100px;
}
.sbc {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.sbc_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Off_category_container {
  height: 250px;
  padding-left: 100px;
  padding-right: 100px;
}
.Off_category_items {
  display: flex;
  height: 100%;
  width: 100%;
}
.off_item_img {
  height: 100%;
  width: 100%;
}
.Off_category_items_div6 {
  position: relative;
  left: 230px;
}
.off_item_img_div6 {
  width: 230px;
}

.app_img_container {
  height: 210px;
  padding-left: 100px;
  padding-right: 100px;
}
.app_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.mAPP {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.application_base {
  margin-top: 50px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin: 30px 0px 40px 0px;
  background: #fafbfc;
}
.generic_info {
  display: flex;
  height: 425px;
  width: 1080px;
  margin-bottom: 24px;
}
.shop_links {
  width: 155px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  box-sizing: content-box;
  overflow: hidden;
}
.title {
  margin: 12px 0px;
  overflow: hidden;
}
.tilt a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: #282c3f;
  overflow: hidden;
}
a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
  overflow: hidden;
}
.shop_links .men {
  padding-top: 14px;
}
.shop_links .blog {
  padding-top: 14px;
}
.customer_policies {
  display: flex;
  flex-direction: column;
  height: 293px;
  width: 162px;
}
.contact_us {
  padding-top: 14px;
}
.app_experience {
  height: 185px;
  width: 360px;
  padding-right: 20px;
  padding-top: 13px;
}
.download_img_container {
  padding-top: 25px;
}
.android_download {
  margin-right: 10px;
  height: 42px;
}
.ios_download {
  margin-right: 10px;
  height: 42px;
}
.keep_in_touch {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 700;
  margin-top: 20px;
}
.socialmedia_img_container {
  position: relative;
  left: -7px;
  overflow: hidden;
}
.socialmedia_icon {
  height: 21px;
  margin-right: 15px;
}
.socialmedia_img {
  height: 20px;
}
.promises {
  height: 159px;
  width: 260px;
}
.original {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 15px 0px 30px 0px;
}
.original_100 {
  color: #282c3f;
  font-weight: 700;
}
.original_img {
  width: 48px;
  height: 40px;
}
.return {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.return_img {
  height: 49px;
  width: 48px;
}
.promises_data {
  color: #696b79;
  font-size: 15px;
  position: relative;
  right: -13%;
}
.popular_search {
  overflow: hidden;
  height: 131px;
  width: 1080px;
}
.popular_search hr {
  border: 1px;
  height: 1px;
  background-color: #eaeaec;
}
.psearch_title {
  position: absolute;
  margin-top: -10px;
  background: #fafbfc;
  padding-right: 10px;
  color: #282c3f;
  font-size: 12px;
  font-weight: 700;
}
.psearch_links {
  margin-top: 30px;
  overflow: hidden;
}
.other_link {
  width: 30px;
  text-decoration: none;
  color: #696b79;
  font-size: 15px;
  line-height: 25px;
}
.other_link::after {
  color: #696b79;
  content: "|";
  margin-left: 3px;
}
.finfo_section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 21px;
  width: 1080px;
}
.contact {
  color: #696b79;
  height: 21px;
}
.copy_write {
  color: #696b79;
  height: 21px;
}

.flipkart_company {
  color: #696b79;
  height: 21px;
}
address {
  margin: 30px 0;
  padding: 20px 0 0;
  border-top: 1px solid #eaeaec;
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  width: 1080px;
}
.address_title {
  font-weight: 700;
  color: #282c3f;
  margin: 15px 0px;
}
.address_des {
  width: 100%;
  color: #94969f;
}
.legal_info {
  float: right;
}
.span_2 {
  color: #526cd0;
  font-weight: 700;
}

.knowledged_container {
  width: 1080px;
  line-height: 18px;
  color: #94969f;
  font-size: 14px;
  border-top: 1px solid #eaeaec;
  margin: 15px 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.knowledged_container h1,
h3 {
  float: left;
  margin-bottom: -10px;
  margin-top: 30px;
  font-size: 14px;
}
.knowledged_container strong {
  color: #535766 !important;
  font-weight: 700;
}
.knowledged_container p {
  margin: 14px 0px;
}

.list {
  width: 1080px;
  margin: 14px 0px;
  padding-left: 40px;
}
.list li {
  margin: 14px 0px;
}
